
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&display=swap');

body {
  background-color: black;
}

p {
  height: 50vh;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 300;
  align-items: flex-end;
  justify-content: center;
}
